.encabezado{
    background-color: #e80415;
    width: 100%;
    height: 69px;
    display: flex;
}

.barras{
    padding-top: 0.9cm;
    padding-left: 0.8cm;

}

.gg-menu{
    cursor: pointer;
    color: white;    
}

.telepizza {
    padding-top: 0.4cm;
    padding-left: 0.5cm;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.menu{
    padding-top: 0.4cm;
    padding-left: 0.9cm;
    font-family: Arial;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.tiendas{
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial;
    padding-top:0.4cm;
    padding-left: 0.8cm;
}

.bentrega{
    margin-right: 10px;
    height: 45px;
    border-radius: 10px;
    border-style: hidden;
    opacity: 70%;
}

.buscar{
    border-radius: 10px;
    border-color:#e80415;
}

.iniciar:hover{
    color: #e80415;
    background-color: white;   
}

.blanco:hover{
    color: #e80415;
}

.iniciar{
    background-color: #e80415;
    border-width: 1px;
    border-radius: 10px;
    border-color: white;
    cursor: pointer;
}

.logito{
    height: 20%;
}

.contenedorbotones{
    display: flex;
    width: 100%;
    height: 69px;
    background-color: #e80415;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.5rem;
}

.delivery{
    height: 3rem;
    border-radius: 10px;
    flex-direction: column;
    border-style: hidden;
    cursor: pointer;
}

.rojo{
    color: #d13448;
}

.blanco{
    color:white;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: Arial;
    font-size: 15px;
}

.carrito{
    height: 25px;
    padding-top: 0.9cm;
    padding-left: 0.1cm;
}

.texto{
    margin-top: 1rem;
    margin-bottom: 8px;
    margin-right: 5rem;
    font-family: Arial;
}

.separacion{
    padding-left: 20px;
    padding-bottom: 10px;
}

.entrega{
    padding-left: 0.1px;
    padding-bottom: 10px;
}

.sesion {
    padding-top: 0.7cm;
    padding-left: 37cm ;
}

.barra{
    font-family: Arial;
}

.barrita{
    padding-left: 0.4cm;
    padding-top: 0.01cm;
    font-size: 175%;
    color: white;
}

.container {
    border-radius: 20px;
    padding-left: 300px;
}

.busqueda{
    width: 420px;
    height: 30px;
    border-style: hidden;
    margin-bottom: 0.41cm;
    font-size: Arial;
    font-size: 20px;
    border-radius: 7%;
    margin-left: 9cm;
}

.contenedorpromo{
    display: flex;
    align-items: center;
}

.imagen{
    margin-left: 15%;
    width:65%;
    border-radius: 10px;
}

.opciones{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    margin-left: 30px;
}

li{
    font-size: 16px;
    font-family: Arial;
    list-style-type: none;
    color: #515276;
    cursor: pointer;
}

.contenido{
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 10%;
    width: 80%;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    }

.items{
    border: 1px solid #e5e7eb;
    box-sizing: border-box;
}

.items:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    cursor: pointer;
}

.imagenes{
    max-width: 180px;
    float:inline-end;
}
.footersito{
    width: 100%;
    height: 224px;
    background-color: #f9fafc;
    display: flex;
}

.subrayado{
    color: #123b56;
    line-height: 2rem;
    text-decoration-line: underline;
    font-weight: 400;
    font-family: Arial;
}

.botoncito{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    font-family: Arial;
    font-size: .875rem;
    line-height: 1.25rem;
}

.start{
    border-radius: .5rem;
    border-width: 0.1px;  
}

.start:hover{
    background-color: #f9fafc;
    border-color: #f9fafc;;
    color: #f9fafc;
    border-style: none;
}

.arial{
    font-family: Arial;
    font-size: 1rem;
    line-height: 1.75rem;
    color: #162c41
}

.gapcito{
    margin-left: 45rem;
}

.espacio{
    margin-left: 100rem;
    position:absolute
}

.botones{
    height: 40;
    border-style: none;
    cursor: pointer;
}

.definitivo{
    height: 64px;
    width: 100%;
    background-color: #202938;
    display: flex;
    justify-content: center;
}

.letrafooter{
    font-family: Arial;
    color: #e7ecf1;
    font-size: 1rem;
    margin-top: 1.5rem;    
}

.logorobado{
    width: 144px;
    height: 32px;
    fill: white;
    margin-top: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.standard{
    font-family: Arial;
    color: #33373f;
    padding-left: 0.5rem;
    font-size: 17px;
    padding-top: 1rem;
}

.precio{
    color: #33373f;
    padding-left: 0.5rem;
    font-size: 17px;
    font-family: Arial;
}

.description{
    padding-left: 0.5rem;
    font-family: Arial;
    color:#979ba0
}
.subrayado:hover{
    text-decoration-line: none;
}
