.encabezado{
    background-color: #e80415;
    width: 100%;
    height: 69px;
    display: flex;
    flex-direction: row;
}
.barras{
    padding-top: 0.9cm;
    padding-left: 0.8cm;

}
.gg-menu{
    cursor: pointer;
    color: white;    
}

.telepizza {
    padding-top: 0.4cm;
    padding-left: 0.5cm;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.menu{
    padding-top: 0.4cm;
    padding-left: 0.9cm;
    font-family: Arial;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.tiendas{
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial;
    padding-top:0.4cm;
    padding-left: 0.8cm;
}

.bentrega{
    margin-right: 10px;
    height: 45px;
    border-radius: 10px;
    border-style: hidden;
    opacity: 70%;
}
.buscar{
    border-radius: 10px;
    border-color:#e80415;
}

.iniciar:hover{
    color: #e80415;
    background-color: white;   
}
.blanco:hover{
    color: #e80415;
}
.iniciar{
    background-color: #e80415;
    border-width: 1px;
    border-radius: 10px;
    border-color: white;
    cursor: pointer;
}
.logito{
    height: 20%;
}
.contenedorbotones{
    display: flex;
    width: 100%;
    height: 69px;
    background-color: #e80415;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.5rem;
}

.delivery{
    height: 3rem;
    border-radius: 10px;
    flex-direction: column;
    border-style: hidden;
    cursor: pointer;
}

.rojo{
    color: #d13448;
}

.blanco{
    color:white;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: Arial;
    font-size: 15px;
}

.carrito{
    height: 25px;
    padding-top: 0.9cm;
    padding-left: 0.1cm;
}

.texto{
    margin-top: 1rem;
    margin-bottom: 8px;
    margin-right: 5rem;
    font-family: Arial;
}

.separacion{
    padding-left: 20px;
    padding-bottom: 10px;
}

.entrega{
    padding-left: 0.1px;
    padding-bottom: 10px;
}
.sesion {
    padding-top: 0.7cm;
    padding-left: 37cm ;
}

.barra{
    font-family: Arial;
}

.barrita{
    padding-left: 0.4cm;
    padding-top: 0.01cm;
    font-size: 175%;
    color: white;
}

.container {
    border-radius: 20px;
    padding-left: 300px;
}

.busqueda{
    width: 420px;
    height: 30px;
    border-style: hidden;
    margin-bottom: 0.41cm;
    font-size: Arial;
    font-size: 20px;
    border-radius: 7%;
    margin-left: 9cm;
}

.contenedorpromo{
    display: flex;
    align-items: center;
}

.imagen{
    margin-left: 15%;
    width:65%;
    border-radius: 10px;
}

.opciones{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    margin-left: 30px;
}

li{
    font-size: 16px;
    font-family: Arial;
    list-style-type: none;
    color: #515276
}

.contenido{
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    }
.items{
    border: 1px solid #e5e7eb;
    box-sizing: border-box;
}
.imagenes{
    max-width: 180px;
    float:inline-end;
}
h2{
